{% extends "garden_calendar/layout.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block script %}
<script src="{% static 'garden_calendar/filter_plants.js' %}" defer></script>
{% endblock %}

{% block main %}
{% if not plants %}
<p class="text-center">No plants selected.Visit the < a href="#"> Planner</a> to do so.</a></p>

{% else %}
<div class="container">
    <div class="row justify-content-end">
        <div class="col"></div>
        <div class="col">
            <label for="plant-filter">Filter plant list:</label>
            <input type="text" id="plant-filter" class=""></input>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col">
            <table class="plants">
                <tr>
                    <td class="plants_data legend N">{% trans 'No work' %}</td>
                </tr>
                <tr>
                    <td class="plants_data legend S">{% trans 'Sow for seedlings' %}</td>
                </tr>
                <tr>
                    <td class="plants_data legend Pi">{% trans 'Prepare seedlings' %}</td>
                </tr>
                <tr>
                    <td class="plants_data legend Pr">{% trans 'Transplant/Sow to garden' %}</td>
                </tr>
                <tr>
                    <td class="plants_data legend R">{% trans 'Plant growth' %}</td>
                </tr>
                <tr>
                    <td class="plants_data legend P">{% trans 'Harvest' %}</td>
                </tr>
            </table>
        </div>
        <div class="col-10">
            <div class="table-responsive">
                <table class="plants">
                    <thead>
                        <tr class="plants_row">
                            <th class="plants_name" scope="col">{% trans 'Plant' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'Jan' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'Feb' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'Mar' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'Apr' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'May' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'Jun' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'Jul' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'Aug' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'Sep' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'Oct' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'Nov' %}</th>
                            <th class="plants_name" scope="col" colspan="3">{% trans 'Dec' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plant in plants %}

                        <tr class="plants_row">
                            <td class="plants_name" scope="row">{{ plant.name }}</td>

                            {% for month, todo in plant.todos.items %}
                            <td class="plants_data {{todo}}" data-id="{{ plant.id }}" data-month="{{ month }}"></td>
                            {% endfor %}

                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}