{% extends "garden_calendar/layout.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Planner
{% endblock %}

{% block script %}
<script src="{% static 'garden_calendar/filter_plants.js' %}" defer></script>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row justify-content-end">
        <div class="col"></div>
        <div class="col">
            <label for="plant-filter">Filter plant list:</label>
            <input type="text" id="plant-filter" class=""></input>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col">
            <table class="plants" id="legend">
                <tr>
                    <td class="plants_data legend nowork">{% trans 'No work' %}</td>
                </tr>
                <tr>
                    <td class="plants_data legend sowing">{% trans 'Sow for seedlings' %}</td>
                </tr>
                <tr>
                    <td class="plants_data legend seedling">{% trans 'Prepare seedlings' %}</td>
                </tr>
                <tr>
                    <td class="plants_data legend transplanting">{% trans 'Transplant/Sow to garden' %}</td>
                </tr>
                <tr>
                    <td class="plants_data legend growth">{% trans 'Plant growth' %}</td>
                </tr>
                <tr>
                    <td class="plants_data legend harvest">{% trans 'Harvest' %}</td>
                </tr>
            </table>
        </div>
        <div class="col-10">
            <form action="{% url 'planner' %}" method="post">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="plants">
                        <thead>
                            <tr class="plants_row">
                                <th class="plants_name" scope="col">{% trans 'Select' %}</th>
                                <th class="plants_name" scope="col">{% trans 'Plant' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'Jan' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'Feb' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'Mar' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'Apr' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'May' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'Jun' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'Jul' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'Aug' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'Sep' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'Oct' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'Nov' %}</th>
                                <th class="plants_name" scope="col" colspan="3">{% trans 'Dec' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for plant in plants %}

                            <tr class="plants_row">
                                <td>
                                    {% if plant.id in selected_plants %}
                                    <input class="form-check-input" type="checkbox" id="{{ plant.id }}"
                                        name="{{ plant.id }}" checked>
                                    {% else %}
                                    <input class="form-check-input" type="checkbox" id="{{ plant.id }}"
                                        name="{{ plant.id }}">
                                    {% endif %}
                                </td>

                                <td class="plants_name">{{ plant.name }}</td>

                                {% for month, todo in plant.todos.items %}

                                {% if todo == 'N' %}
                                <td class="plants_data nowork"></td>
                                {% elif todo == 'S' %}
                                <td class="plants_data sowing"></td>
                                {% elif todo == 'Pi' %}
                                <td class="plants_data seedling"></td>
                                {% elif todo == 'Pr' %}
                                <td class="plants_data transplanting"></td>
                                {% elif todo == 'R' %}
                                <td class="plants_data growth"></td>
                                {% elif todo == 'P' %}
                                <td class="plants_data harvest"></td>
                                {% endif %}

                                {% endfor %}

                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <p></p>
                <button class="btn btn-primary mt3" type="submit">Save Garden</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}