{% extends "layout.html" %}

{% block title %}
Weekly
{% endblock %}

{% block main %}
{% if plants == [] %}
<p class="text-center">No plants selected. Visit the <a href="/planner">Planner</a> to do so.</a></p>
{% else %}
<div class="container text-start">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <table class="table">
                {% for todo, plants in weekly_todos.items() %}
                {% if plants|length != 0 %}
                <tr>
                    <th>
                        {% if todo == 'S' %}
                        {{ gettext('Sow for seedlings') }}:
                        {% elif todo == 'Pi' %}
                        {{ gettext('Prepare seedlings') }}:
                        {% elif todo == 'Pr' %}
                        {{ gettext('Transplant/Sow to garden') }}:
                        {% elif todo == 'R' %}
                        {{ gettext('Plant growth') }}:
                        {% elif todo == 'P' %}
                        {{ gettext('Harvest') }}:
                        {% endif %}
                    </th>
                    <td>
                        {{', '.join(plants)|safe}}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <p>&nbsp</p>
        <div class="text-center">
            <form method="post">
                <button class="btn btn-primary mt3" type="submit">Send Summary to Mail</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endblock %}