{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Plant</th>
            <th scope="col" colspan="3">January</th>
            <th scope="col" colspan="3">February</th>
            <th scope="col" colspan="3">March</th>
            <th scope="col" colspan="3">April</th>
            <th scope="col" colspan="3">May</th>
            <th scope="col" colspan="3">June</th>
            <th scope="col" colspan="3">July</th>
            <th scope="col" colspan="3">August</th>
            <th scope="col" colspan="3">September</th>
            <th scope="col" colspan="3">October</th>
            <th scope="col" colspan="3">November</th>
            <th scope="col" colspan="3">December</th>
        </tr>
    </thead>
    <tbody>
        {% for plant in plants %}

        <tr>
            <th scope="row">{{ plant.name }}</th>

            <!-- TODO: color instead of displaying the text
            TODO: the index field should not be editable, move editing logic to planner.
            TODO: withing planner, default is not editable, select is unlocked when user an option. -->
            {% for todo in plant.todos %}
            <td>
                <select>
                    <option selected>{{ plant.todos[todo] }}</option>
                    <option disabled>──────────</option>
                    <option value="None">None</option>
                    <option value="S">Sejanje</option>
                    <option value="Pi">Pikiranje</option>
                    <option value="R">Rast</option>
                    <option value="Pr">Pridelek</option>
                </select>
            </td>
            {% endfor %}

        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}