{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="container">
    <form method="post">
        <table class="plants">
            <thead>
                <tr class="plants_row">
                    <th class="plants_data" id="planner_select" scope="col">Use</th>
                    <th class="plants_name" scope="col">Plant</th>
                    <th class="plants_data" scope="col" colspan="3">January</th>
                    <th class="plants_data" scope="col" colspan="3">February</th>
                    <th class="plants_data" scope="col" colspan="3">March</th>
                    <th class="plants_data" scope="col" colspan="3">April</th>
                    <th class="plants_data" scope="col" colspan="3">May</th>
                    <th class="plants_data" scope="col" colspan="3">June</th>
                    <th class="plants_data" scope="col" colspan="3">July</th>
                    <th class="plants_data" scope="col" colspan="3">August</th>
                    <th class="plants_data" scope="col" colspan="3">September</th>
                    <th class="plants_data" scope="col" colspan="3">October</th>
                    <th class="plants_data" scope="col" colspan="3">November</th>
                    <th class="plants_data" scope="col" colspan="3">December</th>
                </tr>
            </thead>
            <tbody>
                {% for plant in plants %}

                <tr class="plants_row">
                    <td>
                        {% if plant.id in selected_plants %}
                        <input type="checkbox" id="{{ plant.id }}" name="{{ plant.id }}" checked>
                        {% else %}
                        <input type="checkbox" id="{{ plant.id }}" name="{{ plant.id }}">
                        {% endif %}
                    </td>

                    <td class="plants_name">{{ plant.name }}</td>

                    {% for todo in plant.todos %}

                    {% if plant.todos[todo] == None %}
                    <td class="plants_data nowork"></td>
                    {% elif plant.todos[todo] == 'S' %}
                    <td class="plants_data sowing"></td>
                    {% elif plant.todos[todo] == 'Pi' %}
                    <td class="plants_data seedling"></td>
                    {% elif plant.todos[todo] == 'Pr' %}
                    <td class="plants_data transplanting"></td>
                    {% elif plant.todos[todo] == 'R' %}
                    <td class="plants_data growth"></td>
                    {% elif plant.todos[todo] == 'P' %}
                    <td class="plants_data harvest"></td>
                    {% endif %}

                    {% endfor %}

                </tr>

                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" type="submit">Save Garden</button>

    </form>
</div>
{% endblock %}